body.login {
  background-color: #f9f9f9;
  background-size: cover;
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
  background-image: url('../images/__logoWh.png');
  height: 8vw;
  background-size: contain;
  width: 100%;
  margin: 0;
}
body.login div#login form#loginform {
  background: transparent;
  border-radius: 1rem;
  box-shadow: none;
  margin: 0;
  border: none;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label,
body.login div#login form#loginform .user-pass-wrap label {
  position: relative;
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  opacity: .7;
}
body.login div#login form#loginform input {
  background: #FFF;
  border: none;
  border-radius: 50px;
  color: #09225b;
  box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}
body.login div#login form#loginform input:focus,
body.login div#login form#loginform input:focus-within,
body.login div#login form#loginform input:active,
body.login div#login form#loginform input:visited {
  background: white;
}
body.login div#login form#loginform input#siteguard_captcha {

}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
  position: relative;
  display: block;
  background: #00d9d2;
  color: #FFF;
  text-shadow: none;
  box-shadow: none;
  height: 35px;
}
body.login div#login p#nav {
  display: none;
}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {
  display: none;
}
body.login div#login p#backtoblog a {}

body.login div#login #login_error,
body.login div#login .message {
  background: #FFF;
  color: #000;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
